@import '../config/fonts';
@import '../config/colors';
@import '../config/shadows';
@import '../mixins/noselect';

/* Variables */

$forms-padding: .55em;
$border-radius: 8px;

/* General form styles & hacks */

[type="radio"], [type="checkbox"] {
  position: absolute;
  left: -999999em;
}

[type="radio"] {
  $check-treshold: 40%;

  & + span::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background: $color-light-2;
    border: 1px solid $color-border;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: .25em;
  }

  &:checked + span::before {
    background:
      radial-gradient(
        circle at center,
        $color-text 0%,
        $color-text ($check-treshold - 5%),
        transparent $check-treshold,
        transparent 100%
      );
  }
}

[type="checkbox"] {
  & + span::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background: $color-light-2;
    border: 1px solid $color-border;
    border-radius: 2px;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: .25em;
  }

  &:checked + span::before {
    background: $color-light-2 url('/assets/checkmark-o.svg') center center no-repeat;
    background-size: contain;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-grey;
}

/* Don't allow yellow-ish background in webkit browsers */

:-webkit-autofill {
  transition: background-color 0s 999999999s linear;
}

/* Form elements */

.form {
  &__text, &__button, &__textarea, &__select {
    border: 1px solid $color-border;
    padding-left: $forms-padding;
    padding-right: $forms-padding;
    font-size: .95em;
    max-width: 100%;

    &:hover {
      box-shadow: 0 0 $box-shadow-radius $box-shadow-color;
    }
  }
  
  &__label {
    border-width: 0;
  }
}

.form__text {
  background:
    linear-gradient(to bottom, transparent 0%, transparent 87%, rgba(#000000, 0) 87.1%, rgba(#000000, .07) 100%),
    $color-light-2;
  border-radius: $border-radius;
  padding-top: $forms-padding;
  padding-bottom: $forms-padding;
}

.form__button {
  cursor: pointer;
  border-radius: $border-radius;
}

.form__label {
  max-width: 300px;
  margin: .4em 0;

  &--clear {
    display: block;
  }

  &--large {
    width: 380px;
    max-width: none;
    
    & > textarea {
      min-width: 100%;
      min-height: 200px;
    }
  }

  &--adjacent {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    & > :first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 1px;
      flex: 1 1 10em;
    }
    & > :last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left-width: 0;
      flex: 2 2 10em;
    }
  }

  &--radio, &--checkbox {
    @include noselect;
    cursor: pointer;
    margin: .65em 0;
  }
}

.form__select {
  cursor: pointer;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding: $forms-padding;
  padding-right: 2.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: $color-light-2 url('/assets/arrow-down.svg') 90% center no-repeat;
}