@import 'src/styles/mixins/sizes';

#map, agm-map, agm-map > div {
  @include xsm {
    height: 200px;
  }

  @include sm {
    height: 300px;
  }

  @include md {
    height: 400px;
  }

  @include lg {
    height: 60vh;
  }
}
