$color-primary: #20aefa;
$color-primary-dark: #1b94d5;
$color-primary-light: lighten($color-primary, 7%);

$color-secondary: #efd74d;
$color-secondary-dark: #cbb742;
$color-secondary-light: lighten($color-secondary, 7%);

$color-grey-light: #e1e1e5;
$color-grey: #bdcfd3;
$color-grey-dark: #c4c4c4;

$color-text: #374044;
$color-text-light: #69808a;

$color-border: #b2d4dc;

$color-white: #ffffff;
$color-light: #f0f0f0;
$color-light-2: #f8f8f8;

$colors-list: #FFCF4B, #CEA0E4, #5EFCA1, #FF8CC8, #FFC29B, #29C5FF, #FFAC9C;
$colors-list-light: #FDE3A7, #FFCCBC, #FFDCB5, #8EFFC1, #39D5FF, #DCC6E0, #FFBCD8;

$color-alert: #c0392b;
$color-success: #27ae60;


@mixin flatGradient($list, $length: 40px) {
  $colors-list-gradient: repeating-linear-gradient(
    90deg,
    nth($list, 1) (0 * $length),
    nth($list, 1) (1 * $length),
    nth($list, 2) (1 * $length),
    nth($list, 2) (2 * $length),
    nth($list, 3) (2 * $length),
    nth($list, 3) (3 * $length),
    nth($list, 4) (3 * $length),
    nth($list, 4) (4 * $length),
    nth($list, 5) (4 * $length),
    nth($list, 5) (5 * $length),
    nth($list, 6) (5 * $length),
    nth($list, 6) (6 * $length),
    nth($list, 7) (6 * $length),
    nth($list, 7) (7 * $length)
  );
  background-image: $colors-list-gradient;
}
