
$color-primary: #5dade2;
$color-primary-dark: #3498db;
$color-secondary: #f7ca18;

$color-grey: #d2d7d3;

$color-text: #212121;
$color-text-light: #626262;

$color-light: #f0f0f0;
$color-light-2: #f8f8f8;

$colors-list: #1abc9c, #9b59b6, #2ecc71, #e67e22, #3498db, #f1c40f, #e74c3c;

$color-alert: #c0392b;
$color-success: #27ae60;
