<div class="vet-details" *ngIf="vetData">
  <button type="button" routerLink="/vets/list" class="btn btn--primary btn--back">Wróć</button>

  <div class="vet-details__info">
    <h2 class="vet-details__name">{{ vetData.title }}</h2>
    <p class="vet-details__address">{{ vetData.address }}</p>
    <ul class="vet-details__contact">
      <li class="vet-details__contact__item"></li>
    </ul>
  </div>

  <div class="vet-details__map">
    <div id="map" class="google-map"></div>
  </div>

</div>
<div style="font-size: .5em;">{{ vetData | json }}</div>