@import 'src/styles/mixins/sizes';
@import 'src/styles/components/map';
@import 'src/styles/config/colors';

.vet-details {
  width: 100%;
  max-width: 1000px;
  margin: 2em auto;
  padding: 1em;

  .btn--back {
    position: absolute;
    top: -1.5em;
    left: .5em;

    @include sm() {
      top: .5em;
    }
  }

  &__name {
    font-weight: 900;
    text-align: center;
  }

  &__map {
    background: $color-light-2;
    height: 60vh;
    position: relative;
  }

  &__photos {
    background: $color-light;

    &__item {
      display: block;
      margin: .5em 0;
      width: 100%;
    }

    &__image {
      width: 100%;
    }
  }
}