@import 'src/styles/config/colors';
@import 'src/styles/config/fonts';
@import 'src/styles/mixins/sizes';

@import 'src/styles/config/colors';
@import 'src/styles/config/fonts';
@import 'src/styles/mixins/sizes';
@import 'src/styles/mixins/noselect';

@mixin triangleTop($size, $color: $color-text) {
  content: '';
  display: block;
  position: absolute;
  transform: translateX(-50%);

  border-top: $size / 1.5 solid transparent;
  border-left: $size / 1.5 solid transparent;
  border-right: $size / 1.5 solid transparent;
  border-bottom: $size solid $color;
}

.results-bar {
  &--featured > &__title {
    color: $color-secondary;
  }
}
