<div class="navbar" [class.navbar--visible]="navbarVisible">
  <nav class="navbar__inner">
    <button type="button" class="btn btn--primary hamburger" (click)="toggleNavbar()">
      <span class="fa fa-bars"></span>
    </button>
    <a href="javascript:void(0);" (click)="handleClick({ route: '/' })" class="navbar__logo">
      <img src="/assets/logo-ring.svg" class="navbar__logo__ring" alt="">
      <img src="/assets/logo-text.svg" class="navbar__logo__text" alt="">
    </a>
    <ul class="navbar__navigation navbar__navigation--main">
      <li *ngFor="let link of navigationLinks"
        class="navbar__navigation__item">
        <a href="javascript:void(0)"
          class="navbar__navigation__link"
          (click)="handleClick(link)">
          {{ link.name }}
        </a>
      </li>
    </ul>
  </nav>
</div>