@import 'src/styles/config/colors';
@import 'src/styles/config/animations';
@import 'src/styles/mixins/sizes';
@import 'src/styles/mixins/flex';

$color: #3498db;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $color-light-2;
  transition: transform .35s ease-in-out;
  z-index: 99999;
  transform: translateY(-100%);
  max-height: none;
  
  &--visible {
    transform: translateY(0%);
    max-height: 100%;
    overflow-y: scroll;
  }

  @include sm() {
    &, &--visible {
      transform: translateY(0%);
    }
  }

  .hamburger {
    display: block;
    padding: .25em .55em;
    font-size: 1.1em;
    position: fixed;
    right: .5em;
    bottom: -3em;
    text-shadow: none;
    z-index: 99998;

    @include sm() {
      display: none;
    }
  }

  &--visible .hamburger {
    position: static;
  }

  // LOGO
  &__logo {
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: .5em 0 .25em;

    &__ring, &__text {
      margin: 0 0.25em;
    }

    &__ring {
      width: 60px;
    }

    &__text {
      height: 35px;
    }

    @include sm() {
      &__text {
        display: none;
      }
    }

    @include md() {
      &__text {
        display: inline-block;
      }
    }
  }

  // NAV
  &__inner {
    display: flex;
    flex-direction: column;

    @include sm() {
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
    }
  }

  // UL
  &__navigation {
    display: flex;
    flex-direction: column;

    list-style-type: none;
    margin: 0;
    padding: 0;

    @include sm() {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: .75em 0;
    }

    &__link {
      background: transparent;
      color: $color-text;
      display: block;
      font-size: 1.2em;
      margin: 0;
      padding: .75em 1.5em;
      text-align: center;
      transition: background .15s ease-in-out;
      text-transform: lowercase;

      @include sm() {
        font-size: .9em;
        padding: .45em .65em .25em;
      }

      &:hover {
        color: $color-text-light;
      }
    }
  }
}