@import 'src/styles/config/colors';
@import 'src/styles/config/animations';
@import 'src/styles/mixins/sizes';

$color: #3498db;

.navbar {
  color: $color-light-2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $color-primary;
  border-bottom: 5px solid $color-primary-dark;
  transition: transform .35s ease-in-out;
  z-index: 99999;
  transform: translateY(-100%);

  &--visible {
    transform: translateY(0%);
  }

  @include sm() {
    &, &--visible {
      transform: translateY(0%);
    }
  }

  .hamburger {
    display: block;
    padding: .25em .55em;
    font-size: 1.1em;
    position: absolute;
    right: .5em;
    bottom: -3.5em;
    text-shadow: none;

    @include sm() {
      display: none;
    }
  }

  // NAV
  &__inner {
    display: flex;
    flex-direction: column;

    @include sm() {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  // UL
  &__navigation {
    display: flex;
    flex-direction: column;

    list-style-type: none;
    margin: 0;
    padding: 0;

    @include sm() {
      flex-direction: row;
      justify-content: space-between;
    }

    &__link {
      background: transparent;
      color: $color-light-2;
      display: block;
      padding: .75em 1.5em;
      text-align: center;
      transition: background .15s ease-in-out;

      &:hover, &:focus {
        background: rgba(255, 255, 255, .2);
      }
    }
  }
}