<div class="navbar">
  <div class="navbar__inner">
    <nav class="navbar__navigation">
      <ul class="navbar__navigation__list">
        <li class="navbar__navigation__item"
          *ngFor="let item of mainNavigation">
          <a href="javascript:void(0)" [routerLink]="item.path" class="navbar__navigation__link">
            {{ item.name }}
          </a>
        </li>
      </ul>
    </nav>
    <nav class="navbar__user">
      <ul class="navbar__user__list">
        <li class="navbar__user__item" *ngIf="currentUser">
          <a href="javascript:void(0)" routerLink="/user" class="navbar__user__link">
            Użytkownik
          </a>
        </li>
        <li class="navbar__user__item" *ngIf="!currentUser">
          <a href="javascript:void(0)" routerLink="/auth/login" class="navbar__user__link">
            Zaloguj
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
