@import 'src/styles/config/fonts';
@import 'src/styles/config/colors';

@import 'src/styles/mixins/sizes';
@import 'src/styles/mixins/button';
@import 'src/styles/mixins/box-shadow';
@import 'src/styles/mixins/sizes';

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item-list {
  border-bottom: 1px solid $color-grey;
  margin-bottom: 1em;
  padding-bottom: 1em;

  &__element {
    background: $color-light;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    border-radius: 0 2px 2px 0;

    @include sm() {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &:hover {
      @include box-shadow($color-grey);
    }

    &__navigate {
      background: $color-light-2;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      border-top: 3px solid $color-grey;
      border-radius: 2px 0 0 2px;
      color: $color-grey;
      font-size: 3em;
      flex-direction: column;
      padding: .25em .5em;
      @include center;

      @include sm() {
        border-left: 3px solid $color-grey;
        border-top: 0;
      }

      .btn {
        background: $color-grey;
        border-bottom-color: darken($color-grey, 10%);
      }
    }

    &__info {
      cursor: pointer;
      color: $color-text;
      display: flex;
      flex-direction: column;
      width: 100%;

      &:hover {
        color: $color-text-light;
      }
      
      &__name, &__address {
        text-align: center;
        @include center;
      }

      &__name {
        flex-grow: 2;
        font-weight: 900;
        font-size: 1.1em;
        padding: 1.4em 1em;
      }

      &__address {
        background: $color-light-2;
        flex-shrink: 2;
        flex-basis: 2em;
        padding: 2.5em 1em;
      }
    }
  }
}

@for $i from 1 to 6 {
  $color: nth($colors-list, $i);
  .item-list--recommended > .item-list__element:nth-child(#{$i}n):hover {
    @include box-shadow($color);
  }

  .item-list--recommended > .item-list__element:nth-child(#{$i}n) > .item-list__element__navigate {
    color: $color;
    border-left-color: $color;
    
    .btn {
      @include btn($color);
    }
  }
}
