<div *ngIf="list && list?.length"
  [class]="classes.join(' ')">
  <div class="item-list__element" *ngFor="let item of list">
    <div class="item-list__element__navigate">
      <span class="fa fa-map-marker"></span>
      <button
        type="button" class="btn"
        (click)="openMap(item.googleMapsID)">Mapa</button>
    </div>
    <div class="item-list__element__info">
      <div class="item-list__element__info__name">
        <a
          href="javascript: void(0);"
          [routerLink]="item.id ? ['../view/', item.id] : ['../view-google/', item.place_id]">
          {{ item.title }}
        </a>
      </div>
      <div class="item-list__element__info__address">
        {{ item.address }}
      </div>
      <div class="item-list__element__info__options" *ngIf="currentUser && currentUser.role === 'admin' || currentUser.role === 'moderator'">
        <button *ngIf="options.recommend" type="button" (click)="recommend(item)" class="btn btn--positive">
          <span class="fa fa-thumbs-up"></span> Poleć!
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!list || !list?.length">
  <p>{{ emptyListMessage }}</p>
</div>