<agm-map #gm
  [latitude]="location?.coords.lat"
  [longitude]="location?.coords.lng"
  [zoom]="zoom"
  [styles]="mapStyles">
  
  <!-- recommended pins -->
  <agm-marker
    *ngFor="let vet of vets?.recommended" 
    [latitude]="vet.location.coords.lat"
    [longitude]="vet.location.coords.lng"
    (click)="markerClicked($event)"
    iconUrl="/assets/map-marker-yellow.svg">
    
    <agm-info-window [isOpen]="selectedVet === vet">
      <strong>{{ vet.title }}</strong><br>
      {{ vet.address }}
    </agm-info-window>

  </agm-marker>
  <!-- /recommended -->

  <!-- other pins -->
  <agm-marker
    *ngFor="let vet of vets?.others" 
    [latitude]="vet.location.coords.lat"
    [longitude]="vet.location.coords.lng"
    iconUrl="/assets/map-marker-black.svg">

    <agm-info-window>
      <strong>{{ vet.title }}</strong><br>
      {{ vet.address }}
    </agm-info-window>

  </agm-marker>
  <!-- /other -->

</agm-map>