<div class="search">
  <form #search class="searchForm form">
    <div class="form__group">
      <label class="form__label form__label--adjacent form__label--large">
        <input #search type="search" name="search" class="form__text"/>
        <button type="submit" class="btn form__button">
          <span class="fa fa-search"></span>
        </button>
      </label>
    </div>
    <img [hidden]="!searchAwait" src="/assets/loader.gif" alt="Ładowanie..." class="loader">
    <p *ngIf="error?.length">{{ error }}</p>
  </form>
</div>
<div [hidden]="searchAwait" class="results">
  <!-- Polecani weterynarze -->
  <eg-vets-search-results
    title="Polecani weterynarze"
    [featured]="true"
    noResultsText="Nie znaleziono polecanych weterynarzy."
  ></eg-vets-search-results>

  <!-- Pozostali weterynarze -->
  <eg-vets-search-results
    title="Pozostali weterynarze"
    noResultsText="Nie znaleziono pozostałych weterynarzy."
  ></eg-vets-search-results>
</div>