<div class="vet-details" *ngIf="vet">
  <div class="vet-details__selected vet">
    <h5 class="vet-details__selected__heading">{{ vet['title'] }}</h5>
    <p class="vet-details__selected__sub">{{ vet['address'] }}</p>
    <div class="vet-details__selected__rating">
      <eg-star-rating rating="3"></eg-star-rating>
    </div>
    <div class="vet-details__selected__options">
      <a [attr.href]="directionsUrl" target="_blank" class="btn btn--positive">Pokaż trasę dojazdu</a>
    </div>
  </div>
  <div class="vet-details__contact">
    <div class="vet-details__contact__header">{{ vet['title'] }}</div>
    <ul class="vet-details__contact__list">
      <li>
        <span class="fa fa-map-marker"></span> {{ vet['address'] }}
      </li>
      <li *ngIf="vet['phone']">
        <span class="fa fa-phone"></span> {{ vet['phone'] }}
      </li>
      <li *ngIf="vet['websiteUrl']">
        <span class="fa fa-globe"></span>
        <a [attr.href]="vet.websiteUrl" target="_blank">
          {{ vet.websiteUrl | shortUrl }}
        </a>
      </li>
      <li *ngIf="vet['openingHours']">
        <span class="fa fa-clock-o"></span> Godziny otwarcia:
        <ul class="vet-details__hours">
          <li *ngFor="let h of vet['openingHours']">{{h}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>