@import 'src/styles/config/colors';
@import 'src/styles/config/fonts';
@import 'src/styles/mixins/sizes';
@import 'src/styles/mixins/details-box-tidy';

.vet-details {
  margin: 1em 0;

  @include sm() {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: .5em;
  }

  &__selected {
    @include details-box-tidy;
    background: url('/assets/vets-map-background.jpg') center center no-repeat;
    background-size: cover;
  }

  &__contact {
    $radius: 6px;

    background: $color-light-2;
    border-radius: $radius;
    border-bottom: 4px solid #e1e1e5;

    &__header {
      border-top: 4px solid $color-grey-light;
      background: $color-grey;
      border-radius: $radius * 1.5 $radius * 1.5 0 0;
      color: $color-light-2;
      font-size: .9em;
      font-weight: 900;
      font-family: $font-headings;
      padding: .8em 1.2em;
    }

    &__list {
      line-height: 2.5em;
      list-style-type: none;
      padding: 0 1em;

      .fa {
        display: inline-block;
        margin: 0 .25em;
      }
    }
  }

  &__hours {
    padding: 0 0 0 1.65em;
    margin: 0;
    line-height: 1.25em;
    font-size: .85em;
  }
}