<div class="wrapper">
  <h3>
    Polecani weterynarze gryzoniowi - {{ location?.city }}
  </h3>
  <div class="search">
    <div class="formControl">
      <label>
        <span class="fa fa-search"></span>
        <input
          type="text"
          name="city"
          id="search_city"
          [value]="location?.city"
          (keyup)="searchCitySubject.next($event)">
      </label>
    </div>
    <img class="loader" [class.visible]="searchAwait" src="/assets/loader.gif" alt="">
  </div>
  <div class="nearbyCities">
    <p>Spróbuj również tutaj:
      <a href="javascript:void(0);" class="nearbyCities__item" *ngFor="let city of nearbyCities">{{city.city}}</a>
    </p>
  </div>
  <div class="vets-list vets-list--recommended" *ngIf="vetsList">
    <div class="vets-list__element" *ngFor="let vet of vetsList">
      <div class="vets-list__element__navigate">
        <span class="fa fa-map-marker"></span>
        <button
          type="button" class="btn"
          (click)="openMap(vet.googleMapsID)">Mapa</button>
      </div>
      <div class="vets-list__element__info" [routerLink]="['view/', vet.googleMapsID]">
        <div class="vets-list__element__info__name">
          {{ vet.title }}
        </div>
        <div class="vets-list__element__info__address">
          {{ vet.address }}
        </div>
      </div>
      <div *ngIf="vet.recommended" class="vets-list__element__recommended">
        <span class="fa fa-star"></span>
      </div>
    </div>
  </div>
  <div *ngIf="!vetsList || !vetsList?.length">
    <p>Niestety, nie znaleziono żadnych polecanych weterynarzy.</p>
  </div>
  <h4>
    Pozostali weterynarze - {{ location?.city }}
  </h4>
  <div class="vets-list vets-list--others" *ngIf="othersList">
    <div class="vets-list__element" *ngFor="let vet of othersList">
      <div class="vets-list__element__navigate">
        <span class="fa fa-map-marker"></span>
        <button
          type="button" class="btn"
          (click)="openMap(vet.place_id)">Mapa</button>
      </div>
      <div class="vets-list__element__info" [routerLink]="['view_google/', vet.id]">
        <div class="vets-list__element__info__name">
          {{ vet.name }}
        </div>
        <div class="vets-list__element__info__address">
          {{ vet.vicinity }}
        </div>
      </div>
      <div *ngIf="vet.recommended" class="vets-list__element__recommended">
        <span class="fa fa-star"></span>
      </div>
    </div>
  </div>
</div>