<div class="wrapper">
  <h3>
    Polecani weterynarze gryzoniowi - {{ location?.city }}
  </h3>
  <div class="options">
    <a href="javascript:void(0)" class="btn btn--positive">
      <span class="fa fa-plus">&nbsp;</span>
      Dodaj weterynarza
    </a>
  </div>
  <div class="search">
    <div class="nearbyCities" *ngIf="!searchAwait">
      <p>Spróbuj również tutaj:<br>
        <a href="javascript:void(0);" class="nearbyCities__item" (click)="!searchAwait ? searchLocation(city) : null" *ngFor="let city of nearbyCities">{{city.city}}</a>
      </p>
    </div>
    <form class="form">
      <div class="form__control">
        <label class="form__label">
          <span class="fa fa-search"></span>
          <input
            class="form__input"
            type="text"
            name="city"
            id="search_city"
            [disabled]="searchAwait"
            [value]="location?.city"
            (keyup)="searchCitySubject.next($event)">
        </label>
        <img class="loader" [class.visible]="searchAwait" src="/assets/loader.gif" alt="">
        <eg-error [message]="errorMessage"></eg-error>
      </div>
    </form>
  </div>
  <eg-list-display [list]="vetsList"
    [classes]="['recommended']"
    emptyListMessage="Niestety, nie znaleziono żadnych polecanych weterynarzy."></eg-list-display>
  <h4>
    Pozostali weterynarze - {{ location?.city }}
  </h4>
  <eg-list-display [list]="othersList"
    [classes]="['others']"
    emptyListMessage="Niestety, nie znaleziono żadnych innych weterynarzy w okolicy."></eg-list-display>
</div>