/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: "Raleway", sans-serif;
}

body {
  padding-top: 70px;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.loader {
  display: none;
  width: 24px;
  margin: -.4em auto;

  &.visible {
    display: inline-block;
  }
}

@import 'styles/all';