/* You can add global styles to this file, and also import other style files */

html, body {
  font-family: "Raleway", sans-serif;
}

body {
  padding-top: 50px;
}

* {
  box-sizing: border-box;
}

@import 'styles/all';