@import '../config/colors';

@mixin distribute-on-circle($nb-items, $circle-size, $item-size, $rotation-offset: 0, $class-for-IE: false) {
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);
  
  border: 8px solid $color-grey-light;
  position: relative;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
  margin-top: $item-size / 2;
  margin-bottom: 4em;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    margin: -($half-item);
  }

  $rot: 0 + $rotation-offset;
  $angle: (360 / $nb-items);
  
  @for $i from 1 through $nb-items {
    @if not $class-for-IE {
      > :nth-of-type(#{$i}) {
        transform:
          rotate($rot * 1deg)
          translate($half-parent)
          rotate($rot * -1deg);
      }
    }

    $rot: ($rot + $angle);
  }
}