$size-sm: 40em;
$size-md: 52em;
$size-lg: 68em;

@mixin xsm() {
  @media screen and (max-width: $size-sm - .1em) {
    @content;
  }
};

@mixin sm() {
  @media screen and (min-width: $size-sm) {
    @content;
  }
};

@mixin md() {
  @media screen and (min-width: $size-md) {
    @content;
  }
};

@mixin lg() {
  @media screen and (min-width: $size-lg) {
    @content;
  }
};
